/* ======== */
.unclickable {
  pointer-events: none !important;
}
.unclickable * {
  pointer-events: none !important;
}
g.canvas {
  transition: transform 500ms;
}
.node_link {
  fill: none;
  stroke: #dfdfdf;
}
g.node {
  cursor: default;
}
g.node.container {
  cursor: pointer;
}
g.node .hitbox {
  fill: none;
  pointer-events: bounding-box;
}
g.node .node_circle {
  fill: white;
  stroke: #777;
  stroke-width: 2px;
}
g.node .node_circle.placeholder {
  stroke-width: 1px;
  stroke-dasharray: 2, 2;
}
g.node .node_mask_height_indicator,
g.node .node_knockback_indicator {
  stroke-width: 1px;
  fill: none;
  stroke: #a8a8a8;
}
g.node text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  fill: black;
  text-shadow: 0 0 2px white;
  dominant-baseline: central;
}
g.node text.duration {
  font-size: small;
}
g.node text.node_text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: arial;
}
g.node text.node_text tspan.positive {
  font-weight: bold;
  fill: #00a800;
}
g.node text.node_text tspan.safe {
  font-weight: bold;
  fill: #8fbf00;
}
g.node text.node_text tspan.semisafe {
  font-weight: bold;
  fill: #bf8000;
}
g.node text.node_text tspan.unsafe {
  font-weight: bold;
  fill: #bf0000;
}
g.node text.node_text tspan.lightgray {
  fill: #dbdbdb;
}
g.node text.node_text tspan.gray {
  fill: #a8a8a8;
}
g.node text.node_text_center {
  text-anchor: middle;
  dominant-baseline: central;
  fill: #a8a8a8;
  text-shadow: none;
}
g.node text.node_text_left {
  dominant-baseline: middle;
  text-anchor: end;
}
g.node text.node_text_right {
  dominant-baseline: middle;
  text-anchor: start;
}
g.node text.node_text_top {
  text-anchor: middle;
  dominant-baseline: text-after-edge;
}
g.node text.node_text_bottom {
  text-anchor: middle;
  dominant-baseline: text-before-edge;
}
g.node.punch .node_circle,
g.node.kick .node_circle,
g.node.hold .node_circle,
g.node.throw .node_circle,
g.node.OHGrab .node_circle {
  stroke: white;
}
g.node.punch .node_circle {
  fill: #ff7;
}
g.node.kick .node_circle {
  fill: #f77;
}
g.node.hold .node_circle {
  fill: #7f7;
}
g.node.throw .node_circle {
  fill: #77f;
}
g.node.OHGrab .node_circle {
  fill: #70f;
}
g.node.punch .node_text_center {
  fill: #a8a8a8;
}
g.node.kick .node_text_center {
  fill: #575757;
}
g.node.hold .node_text_center {
  fill: #a8a8a8;
}
g.node.throw .node_text_center {
  fill: #575757;
}
g.node.OHGrab .node_text_center {
  fill: #575757;
}
g.node.selection text,
g.node.selection text.node_text tspan.gray {
  font-weight: bold;
  fill: blue;
}
g.node.selection .node_circle {
  stroke: #a8a8ff;
}
g.node.selection .node_mask_height_indicator,
g.node.selection .node_knockback_indicator {
  stroke: blue;
}
