.unclickable {
  pointer-events: none;
}
g.canvas {
  transition: transform 1s;
}
path.link {
  fill: none;
  stroke: #ddd;
}
g.node {
  cursor: default;
}
g.node.container {
  cursor: pointer;
}
g.node circle {
  fill: white;
  stroke: #777;
  stroke-width: 2px;
}
g.node.punch circle {
  fill: #ff7;
  stroke: white;
}
g.node.kick circle {
  fill: #f77;
  stroke: white;
}
g.node.hold circle {
  fill: #7f7;
  stroke: white;
}
g.node.throw circle {
  fill: #77f;
  stroke: white;
}
g.node text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  fill: black;
  text-shadow: 0 0 2px white;
  dominant-baseline: central;
}
g.node text.duration {
  font-size: small;
}
g.node.selection text {
  font-weight: bold;
  fill: blue;
}
.node_link {
  fill: none;
  stroke: #ddd;
}
.node_circle {
  fill: white;
  stroke: #777;
  stroke-width: 2px;
}
.node_text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: arial;
}
.text_white_shadow {
  text-shadow: 0 0 2px white;
}
.node_text_center {
  text-anchor: middle;
  dominant-baseline: central;
}
.node_text_left {
  dominant-baseline: middle;
  text-anchor: end;
}
.node_text_right {
  dominant-baseline: middle;
  text-anchor: start;
}
.node_text_top {
  text-anchor: middle;
  dominant-baseline: text-after-edge;
}
.node_text_bottom {
  text-anchor: middle;
  dominant-baseline: text-before-edge;
}
