.hidden {
  display: none !important;
}
.click-through {
  pointer-events: none !important;
}
.click-through > * {
  pointer-events: initial;
}
.clickable {
  cursor: pointer;
}
html {
  font-family: arial;
  height: 100%;
}
body {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  color: black;
}
#loading {
  cursor: default;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: #777;
}
#loading span {
  color: white;
  font-size: 48px;
  align-self: center;
}
#overlays {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}
#mapping {
  z-index: 3;
  background-color: white;
  display: inline-block;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid gray;
}
#mapping table {
  text-align: right;
}
#content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
table#data {
  display: initial;
  border-collapse: collapse;
}
table#data tbody {
  position: relative;
}
table#data tbody th {
  position: fixed;
  border-bottom: none;
}
table#data thead tr:first-child {
  vertical-align: bottom;
}
table#data tr {
  height: 25px;
}
table#data th,
table#data td {
  min-width: 25px;
}
table#data tbody th {
  height: 25px;
  z-index: 1;
}
table#data tr th:first-child {
  min-width: 125px;
}
table#data thead tr:first-child {
  height: 125px;
}
table#data td,
table#data th {
  padding: 0;
}
table#data th,
table#data td {
  box-sizing: border-box;
}
table#data tbody th {
  background-color: white;
}
table#data td {
  background-color: white;
}
table#data tr:nth-child(odd) td,
table#data tr:nth-child(odd) th {
  background-color: white;
}
table#data tr:nth-child(even) td,
table#data tr:nth-child(even) th {
  background-color: #eee;
}
table#data th,
table#data td {
  border-left: 1px solid lightgray;
}
table#data th:last-child,
table#data td:last-child {
  border-right: 1px solid lightgray;
}
table#data tr:last-child {
  border-bottom: 1px solid lightgray;
}
table#data tbody th {
  border-right: 1px solid lightgray;
  opacity: 0.9;
}
table#data thead tr:first-child th {
  border: 0;
}
.inputDiv {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px;
}
#controls {
  margin: 5px;
}
#footer {
  flex-grow: 2;
  display: flex;
  align-items: flex-end;
}
.credits {
  color: lightgray;
}
.credits a {
  color: lightgray;
}
