// Helpers

.hidden { display: none !important; }

.clickThrough {
    pointer-events: none !important;
    & > * { pointer-events: initial; }
}

.columnRight {
    // FIXME: fix clicking on transparent part of menu
    // display: flex;
    // flex-direction: column;
    // & > * { align-self: flex-end; }
}

// Main

html {
    font-family: arial;
    height: 100%;
}

body {
    margin: 0;

    position: absolute;
    top:    0;
    bottom: 0;
    right:  0;
    left:   0;

    background-color: white;
    color: black;
}

// Filter result

#popupFilterResult {

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;

    & > div {

        @boxShadowSize: 10px;

        max-height: 100%;
        overflow: auto;
        padding: @boxShadowSize;

        & > div {
            border: 1px solid black;
            background: white;
            border-radius: 5px;
            box-shadow: 0 0 @boxShadowSize black;
            padding: 5px;
            pre { margin: 3px; }
        }
    }
}

// Menu

#menu {

    position: fixed;
    right: 0;
    top: 0;

    max-height: 100%;
    overflow: auto;

    tr > td:first-child:not([colspan]) { text-align: right; }

    fieldset {

        border-radius: 5px 0 0 5px;
        margin-top: 5px;

        @bgColor: rgba(255, 255, 255, 0.75);

        background-color: @bgColor;

        legend {
            background-color: @bgColor;
            text-align: right;
            cursor: pointer;
            // text-decoration: underline;
            &::after {
                content: '[ - ]';
            }
        }

        &.collapsed {
            // order: 2;
            background-color: initial;
            border: none;
            height: 0;
            & > legend {
                // color: rgba(0, 0, 0, 0.25);
                &::after { content: '[ + ]'}
            }
            & > .fieldsetContent { display: none; }
        }

        &.subFieldset {
            border: none;
            padding: 0;
            margin: 0;
            legend { display: none; }
        }

        &.firstHighlight {
            background-color: rgba(128, 255, 128, 0.75);
            margin-top: 0;
            border-top-left-radius: 0;
            border-top: none;
            .fieldsetContent { text-align: center; }
        }

        tr.summary {
            label { font-style: italic; }
            input {
                border-style: dotted;
                border-width: 1px;
                padding: 2px 1px; // hack to make it same size as untouched input
            }
        }

        & .fieldsetContent input[type="button"] {
            margin-top: 2px;
            margin-right: 2px;
        }
    }

    #about {
        margin-top: 5px;
        margin-right: 3px;
        float: right;
    }

}

// Popups

#overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    // align-content: center;
}

#popupWelcomeOverlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.25);
}

#popupWelcome {

    background: white;
    box-shadow: 0 0 10px black;
    border: 2px solid black;
    border-radius: 10px;
    align-self: center;
    width: 50%;

    padding: 20px;

    & > h2 {
        text-align: center;
    }

    & > table tr > td {
        padding-bottom: 10px;
        &:first-child {
            text-align: right;
            vertical-align: top;
            width: 100px;
        }
    }

    pre { display: inline; }

}

#loading {
    cursor: default;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: #777;
    span {
        color: white;
        font-size: 48px;
        align-self: center;
    }
}
