html {
  font-family: arial;
  height: 100%;
}
body {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /*display: flex;*/
  /*justify-content: center;*/
}
/*#content {
    align-self: center;
}*/
#menu {
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.75);
}
#overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
#loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: #777;
}
#loading span {
  color: white;
  font-size: 48px;
  align-self: center;
}
.hidden {
  display: none !important;
}
.clickThrough {
  pointer-events: none !important;
}
.clickThrough > * {
  pointer-events: initial;
}
#popupFilterResult {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
#popupFilterResult > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  overflow: auto;
}
#popupFilterResult > div > div {
  border: 1px solid black;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  padding: 5px;
  align-self: flex-start;
}
#filterOuptut {
  margin: 0;
}
