.hidden {
  display: none !important;
}
.clickThrough {
  pointer-events: none !important;
}
.clickThrough > * {
  pointer-events: initial;
}
html {
  font-family: arial;
  height: 100%;
}
body {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#popupFilterResult {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
#popupFilterResult > div {
  max-height: 100%;
  overflow: auto;
  padding: 10px;
}
#popupFilterResult > div > div {
  border: 1px solid black;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  padding: 5px;
}
#popupFilterResult > div > div pre {
  margin: 3px;
}
#menu {
  position: fixed;
  right: 0;
  top: 0;
  max-height: 100%;
  overflow: auto;
}
#menu tr > td:first-child:not([colspan]) {
  text-align: right;
}
#menu fieldset {
  border-radius: 5px 0 0 5px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.75);
}
#menu fieldset legend {
  background-color: rgba(255, 255, 255, 0.75);
  text-align: right;
  cursor: pointer;
}
#menu fieldset legend::after {
  content: '[ - ]';
}
#menu fieldset.collapsed {
  background-color: initial;
  border: none;
  height: 0;
}
#menu fieldset.collapsed > legend::after {
  content: '[ + ]';
}
#menu fieldset.collapsed > .fieldsetContent {
  display: none;
}
#menu #about {
  margin-top: 5px;
}
#overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
#popupWelcomeOverlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.25);
}
#popupWelcome {
  background: white;
  box-shadow: 0 0 10px black;
  border: 2px solid black;
  border-radius: 10px;
  align-self: center;
  width: 50%;
  padding: 20px;
}
#popupWelcome > h2 {
  text-align: center;
}
#popupWelcome > table tr > td {
  padding-bottom: 10px;
}
#popupWelcome > table tr > td:first-child {
  text-align: right;
  vertical-align: top;
  width: 100px;
}
#popupWelcome pre {
  display: inline;
}
#loading {
  cursor: default;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: #777;
}
#loading span {
  color: white;
  font-size: 48px;
  align-self: center;
}
