html {
  height: 100%;
}
body {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /*display: flex;*/
  /*justify-content: center;*/
}
/*#content {
    align-self: center;
}*/
#menu {
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.75);
}
